body,html {
    height: 100%;
    font-family: Open Sans;
    background-image: url("../images/flag-3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1 {
    text-align: center;
}

#trivia {
    text-indent: 10px;
    display:none;
    text-align: center;
}

#container {
    width: 960px;
    margin:auto;
    margin-top: 40px;
    padding: 0 25px 40px 10px;
    background-color: #1E90FF;
    border:4px solid #B0E0E6;
    border-radius:5px;
    color: #FFFFFF;
    font-weight: bold;
    box-shadow: 5px 5px 5px #888;
}

#start {
    display: none;
    height: 50px;
    width: 200px;
    font-size: 36px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin:auto;
    background-color: #FFFFFF;
}

#re-start {
    display: none;
    height: 50px;
    width: 200px;
    font-size: 36px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin:auto;
    background-color: #FFFFFF;
}

#time-remain, #score {
    display: none;
    text-align: center;
    text-decoration: none;
    margin:auto;
  
}

